html,
body {
    background-color: #FFFEF5 !important;
    box-sizing: border-box;
    font-size: 14pt;
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

p {
    font-size: 10pt;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: bolder !important;
}

header {
    padding: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 25px;
    margin-right: 25px;
}

#logo {
    max-width: 70%;
    max-height: auto;
}

.logo-wrapper {
    display: flex;
    justify-content: center;
}

#navigation {
    display: flex;
    gap: 2em;
    margin-left: 1em;
}

.nav-item {
    text-decoration: none;
    list-style: none;
    color: black;
}

.shopping-cart {
    margin-left: auto;
    margin-right: 3em;
}

.main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    padding-bottom: 100px;
}

#top-content {
    display: flex;
    flex-direction: column;
    margin: 10px 50px 0 50px;
    padding: 50px;
    background-color: #9DDBAD;
    border: 2px solid black;
}

#best-sellers {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 30px 50px 0 50px;
    gap: 1.5em;
}


.card-container-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-containers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3em;
    margin-left: auto;
    margin-right: auto;
}

.item-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: auto;
    width: 300px;
    height: 450px;
    background-color: white;
    transition: 0.5s;
}

.bordered {
    border: 2px solid black !important;
}

.hoverable:hover{
    transition: 0.5s;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.315) !important;
    transform: translateY(-0.5em) !important;
}

.card-text {
    padding: 2px 16px;
    text-align: center;
}

.card-text-heading {
    font-weight: bold;
    margin-bottom: 5px;
}

.card-text-sub {
    margin-bottom: 15px;
}

.card-image {
    object-fit: cover;
    width: 90%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 25px;
}

.card-btn {
    margin-top: auto;
    margin-bottom: 1.5em;
}


#new-products {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 30px 50px 0 50px;
    gap: 1.5em;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    background-color: #9DDBAD;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer>p {
    padding: 20px;
    margin: 0;
}

.dataTables_filter input {
    width: 92.5rem;
}


